yeah so there is SOME requirements with this of course

REQUIREMENTS:
Python (3.1+) or higher (python 3.11, 3.12, 3.13+)
(https://www.python.org)

Press Windows + R, then type CMD, press enter 
and once cmd has opened RUN this exactly;
pip install llama-cpp-python


Your current BobsAI version;
0.0.1-HotFix2

